.container {
  width: 100%;
  background-color: var(--background);
  border-top: 0.0625rem solid var(--border);
}

.heading {
  width: 100%;
  min-height: 2.75rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--card);

  &.selectionmode {
    height: 3.5rem;
    grid-template-columns: 1fr auto;
    padding-left: 3.25rem;
  }
}

.label {
  color: var(--primary);
}

.maincontrols {
  width: 100%;
  overflow: hidden;
  .controlbuttons {
    padding: 0.5rem 0;
  }
}

.morecontrols {
  width: 100%;
  overflow: hidden;
  .controlbuttons {
    padding: 0.125rem 0 0.5rem 0;
  }
}

.controlbuttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  justify-content: center;
  justify-items: center;
}
