.container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;
  padding: 16px;
}

.label {
  color: var(--secondary);
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.options {
  display: grid;
  grid-gap: 8px;
}
