.container,
.sizescontainer {
  padding: 1rem;
  display: grid;
  align-items: center;
  grid-gap: 0.5rem;
  font-size: 0.875rem;
}

.container {
  grid-template-columns: 1fr 1fr;
}

.sizescontainer {
  grid-auto-flow: row;
}
