.container {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.info {
  font-size: 0.875rem;
  text-align: right;
  color: var(--secondary);
}

.controls {
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  grid-gap: 0.5rem;
}

.textarea {
  font: inherit;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5em;
  margin: 0;
  background-color: transparent;
  color: var(--primary);
  resize: none;
  transition: background-color 300ms ease-in-out;

  &:hover:not(:disabled),
  &:focus {
    outline: none;
    background-color: var(--hover-30);
    transition: background-color 300ms ease-in-out;
  }
  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  &::selection {
    background-color: var(--accent);
  }
  ::placeholder {
    color: var(--disabled);
  }
}
