.container {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.label {
  font-size: 0.875rem;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--secondary);
}

.motioncontainer {
  overflow: hidden;
}

.colorgrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding-top: 0.5rem;
}

.colorsettings {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 0.5rem;
}

.colorsetting {
  cursor: pointer;
  padding: 0.25rem;
  display: grid;
  grid-gap: 0.5rem;
  align-items: center;
  grid-template-columns: auto 1fr;
  border: 0.0625rem solid var(--border);
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;

  &.active,
  &:hover {
    background-color: var(--card);
    transition: all 300ms ease-in-out;

    .name {
      color: var(--accent);
      transition: color 300ms ease-in-out;
    }
  }
}

.name {
  font-size: 0.875rem;
  color: var(--secondary);
  transition: color 300ms ease-in-out;
}
