.container {
  width: 100%;
  padding: 0 1rem;
  background-color: var(--popup);
}

.controls {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 5rem;
  justify-content: center;
  justify-items: center;
  padding: 0.5rem 0;
}
