.container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  padding: 0.5rem 1rem;
}

.label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  color: var(--secondary);
  padding: 0.5rem 0;
}

.labelcontainer {
  width: 100%;
  overflow: hidden;
}

.allcollections {
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 0.5rem;
}

.addnew {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 0.5rem;
}

.item {
  width: 100%;
  cursor: pointer;
  overflow: hidden;

  &:nth-child(odd) {
    .foucs {
      background-color: var(--card);
    }
  }
}

.foucs {
  width: 100%;
  height: 100%;
  padding: 0.125rem 0.5rem;
  background-color: transparent;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
  align-items: center;

  &:focus,
  &:active {
    outline: none;
  }
}

.name {
  color: var(--primary);
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
