.container {
  width: 100%;
  padding: 1rem 1rem 0.5rem 1rem;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 1rem;
}

.heading {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: center;
}

.icon {
  background-color: var(--card);
  border-radius: 0.5rem;
}

.name {
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--secondary);
}

.table {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  border-spacing: 0;

  td {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }

  tr {
    background-color: var(--card-50);
    &:nth-child(odd) {
      background-color: var(--card);
    }
  }
}

.label {
  color: var(--accent);
}

.info {
  color: var(--primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
