.container {
  padding: 16px;
}

.desciption {
  margin: 0;
}

.plusicon {
  width: 20px;
  height: 20px;
  margin: 0 4px;
  color: var(--secondary);
  fill: var(--secondary);
  stroke: var(--secondary);
  vertical-align: bottom;
}
