.container {
  width: var(--size);
  height: var(--size);
}

.svg {
  width: 100%;
  height: 100%;
  fill: var(--accent);
}

.border {
  fill: none;
  stroke-width: 0.25rem;
  stroke: var(--disabled);
  stroke-dasharray: 50;
  stroke-dashoffset: 50%;
  animation: movedash 1.5s forwards infinite;
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}