.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.body {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
}

.label {
  min-height: 2.25rem;
  margin-bottom: 1rem;
}

.itemscontainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 1rem;
}

.items {
  display: grid;
  align-content: start;
  grid-gap: 1rem;
}
