.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

.body {
  width: 100%;
  height: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  @media (min-width: 720px) {
    grid-template-columns: 1fr 2fr;
  }
  @media (min-width: 1200px) {
    grid-template-columns: 380px 2fr;
  }
}

.content {
  width: 100%;
}

.label {
  min-height: 36px;
  margin-bottom: 16px;
}

.itemscontainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 16px;
}

.items {
  display: grid;
  align-content: start;
  grid-gap: 16px;
}
