.input {
  font: inherit;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5em;
  margin: 0;
  background-color: var(--card);
  color: var(--primary);
  transition: background-color 300ms ease-in-out;

  &:hover:not(:disabled),
  &:focus {
    outline: none;
    background-color: var(--hover-50);
    transition: background-color 300ms ease-in-out;
  }

  &:disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }

  &::selection {
    color: var(--card);
    background-color: var(--accent);
  }

  &.invalid {
    background-color: var(--error-10);
    color: var(--error);
    transition: background-color 300ms ease-in-out;

    &:hover:not(:disabled),
    &:focus {
      background-color: var(--error-20);
      transition: background-color 300ms ease-in-out;
    }

    &::selection {
      color: var(--card);
      background-color: var(--error);
    }
  }

  // hide number arrow
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}
