.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  backface-visibility: hidden;
}

.motioncontainer {
  width: 100%;
  height: 100%;
}
