.container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;

  &.listview .files {
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  }
}

.files {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(5.25rem, 1fr));

  @media (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
  }
}
