.container {
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 16px;

  &.listview .files {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.files {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));

  @media (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(104px, 1fr));
  }
}
