#__mdr__ {
  line-height: 1.7;
  margin: auto;

  blockquote {
    padding: 0.5em 2em;
    border-left: 0.1875rem solid var(--accent);
    background-color: var(--card);
    border-radius: 0 0.5em 0.5em 0;
    position: relative;

    &::before {
      position: absolute;
      top: -0.5rem;
      left: 0.5rem;
      font-family: serif;
      content: '\201C';
      color: var(--accent);
      font-size: 3em;
    }
  }

  table {
    background-color: var(--card);
    border-radius: 0.5em;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    padding-bottom: 0.3em;
    font-size: 2.25em;
    margin: 1em auto 1.2em;
    font-weight: normal;

    &::after {
      border-bottom: 0.125rem dashed var(--accent);
      content: '';
      width: 6.25rem;
      display: block;
      margin: 0.2em auto 0;
    }
  }

  h2 {
    padding-left: 0.25em;
    border-left: 0.1875rem solid var(--accent);
  }

  h3 {
    &::before {
      background-color: var(--accent);
      content: '';
      width: 0.375rem;
      height: 0.375rem;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.18em;
      margin-right: 0.5em;
    }
  }

  h4 {
    &::before {
      background-color: var(--accent);
      content: '';
      width: 0.375rem;
      height: 0.125rem;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0.18em;
      margin-right: 0.5em;
    }
  }

  h6 {
    color: var(--accent);
  }

  img {
    border-radius: 0.5em;
  }

  .footnotes-sep {
    display: none;
  }

  .footnotes {
    border-top: 0.0625rem solid var(--border);
    padding: 1em 1em 1em 0;
    border-radius: 0.5em;
  }

  ::marker {
    color: var(--accent);
  }
}
