.container {
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: center;
  grid-gap: 0.5rem;
}

.icon {
  width: 8rem;
  height: 8rem;
  color: var(--card);
  fill: var(--card);
  stroke: var(--card);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.heading {
  color: var(--primary);
  font-weight: bold;
}

.info {
  color: var(--secondary);
  font-size: 0.875rem;
}
