.motioncontainer {
  overflow: hidden;
  pointer-events: none;
}

.container {
  padding: 0.25rem;
}

.notif {
  background-color: var(--popup);
  border-radius: 0.5rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content;
  grid-gap: 0.5rem;
  align-items: center;
  pointer-events: all;
  overflow: hidden;
}

.icon {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.5rem;
  .success {
    color: var(--success);
    fill: var(--success);
    stroke: var(--success);
  }
  .info {
    color: var(--accent);
    fill: var(--accent);
    stroke: var(--accent);
  }
  .error {
    color: var(--error);
    fill: var(--error);
    stroke: var(--error);
  }
}

.message {
  color: var(--primary);
  font-size: 0.875rem;
  max-width: 18.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
