.container {
  font-size: 0.875rem;
}

.item {
  opacity: 0;
  width: 100%;
  white-space: nowrap;
  backface-visibility: hidden;

  &:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
  }
}

.devider {
  height: 0.0625rem;
  background-color: var(--primary-10);
  margin: 0.25rem 0;
}
